.random-photos {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    background-color: black;
    padding: 10px;
}

.random-photo {
    width: calc(100% / 4 - 20px);
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.1s linear;
}

.random-photo:hover {
    scale: 1.05;
}