.modal_section {
    width: 100vw;
    height: 100vh;
    background-color: #cccccc78;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 3;
}

.modal_section .close {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 4;
    cursor: pointer;
    transition: 0.1s linear;
}

.modal_section .close:hover {
    scale: 1.2;
}
