.photographers_page_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.header .info {
    margin-left: 15px;
}

.header .info h5 {
    margin: 5px 0;
}

.name{
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.name:hover {
    border-bottom: 2px solid black;
}

.photographer-block {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0; 
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.photographer-block:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.photographers {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 20px;
}

.photographer-block a {
    color: #007bff;
    text-decoration: none;
}

.photographer-block a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1350px) {
    .photographers {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 900px) {
    .photographers {
        grid-template-columns: auto;
    }
}