
.main-container {
    display: flex;
    width: 100%;
}

.categories-container {
    flex: 0 0 250px; /* Fixed width for categories section */
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100vh;
    overflow-y: auto;
    position: sticky;
    top: 0;
}

.categories-heading {
    text-align: center;
    font-size: 1.5em;
    color: #343a40;
    margin-bottom: 20px;
}

.categories-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.category-item {
    border: 1px solid #dee2e6;
    border-radius: 4px;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.3s;
    cursor:pointer;
}

.category-item:hover {
    background-color: mediumslateblue;
    color:white;
    transform: translateY(-2px);
}

.photographers-content {
    flex-grow: 1; /* This will take the remaining space */
    padding: 20px;
}

.photographers {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 photographers per row */
    gap: 20px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.header .info {
    margin-left: 15px;
}

.header .info h5 {
    margin: 5px 0;
}

.name {
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.name:hover {
    border-bottom: 2px solid black;
}

.photographer-block {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.photographer-block:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.photographer-block a {
    color: #007bff;
    text-decoration: none;
}

.photographer-block a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    .photographers {
        grid-template-columns: 1fr; /* 1 photographer per row for small screens */
    }
}