.photographer-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  font-family: Arial, sans-serif;
}

.photographer-info {
  text-align: center;
  margin-bottom: 20px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.photographer-info h2 {
  margin: 10px 0;
  font-size: 24px;
  color: #333;
}

.photographer-info p {
  margin: 5px 0;
  font-size: 18px;
  color: #555;
}

.photographer-info a {
  color: #007bff;
  text-decoration: none;
}

.photographer-info a:hover {
  text-decoration: underline;
}

.photographer-photos {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.photographer-photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.1s linear;
}

.photographer-photo:hover {
  scale: 1.05;
}

.photographer-profile .pagination_div button {
  width: 100px;
  height: 30px;
  border: 1px solid mediumslateblue;
  border-radius: 8px;
  color: mediumslateblue;
  background-color: white;
  cursor: pointer;
  font-size: 18px;
  transition: 0.1s linear;
}

.photographer-profile .pagination_div button:hover {
  background-color: mediumslateblue;
  color: white;
}