

.register_modal_div {
    width: 500px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
    box-shadow: 1px 1px 20px;
    border-radius: 5px;
}

.modal_message_div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.modal_message_big_success {
    font-size: 40px;
    color: mediumslateblue;
}

.modal_message_big_error {
    font-size: 40px;
    color: red;
}

.modal_message_small {
    font-size: 24px;
}

.move_to_login {
    width: 200px;
    height: 30px;
    border: 1px solid mediumslateblue;
    border-radius: 5px;
    background-color: white;
    color: mediumslateblue;
    font-size: 18px;
    cursor: pointer;
}