.photo_modal_div{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    color: white;
    padding: 20px;
}


.photo_info_div{
    position: absolute;
    top: 15px;
    left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.photo_modal_div img {
    width: 50%;
    height: 100vh;
    object-fit: contain;
}